body {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.dash-header{
    /* background-color: #0D3B66; */
    background-color:#FFDA44;
    text-align: right;
    font-size: 1.6em;
    padding: 12px 0px;
    display: flex;
 
}
.title-under{
    font-size: 0.5em;
    /* width: 130px; */
    /* background-color: red; */
    /* margin-left: 50px; */
    text-align: left;
}
.dash-header__container{
    display: flex;
    width: 100%;
}
.dash-header__logo{
    float: left;

}

.dash-header__logo img{
    margin: 0px 1.5em;
    width: 7em;
}
.dash-header__title{
    margin-left: 65%;
    float: right;
    font-size: 2rem;
    text-decoration: none;
}

.title-user-data{
    display: flex;
    padding: 0px 0px 0px 500px;
    margin: auto 0px auto auto;
}

.dash-header_logout-button{
    margin: auto 50px auto auto;
    /* padding: 0px 0px 0px 500px; */
}
.icon-button{
    background-color: white; /* Green */
    border: 1px solid gainsboro;
    color: #154295;
    padding: 11px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
}
.icon-button:hover {
    background-color: #ffcc00;
    color: white;
  }

  .dash-title{
    padding: 10px;
    cursor: pointer;
    text-align: right;
    font-size: 1.2em;
    margin: 0px 10px;
    color: #154295;
    /* background-color: #F0F1F3; */
    border-radius: 6px;
    display: flex;
    transition: background-color 0.3s ease;
}


.user-title{
   margin-top: 10px;
    width: 45px;
}
.title-span{
    margin: 0px 0px 0px 10px;
}

.dash-title:hover {
    cursor: pointer;
    background-color: #f2c50f; /* Change background color on hover */
  }
  

  
  
  .dropdown-menu {
    display: none; 
    position: absolute;
    width: 89%;
    margin: 0px 10px;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .user-data{
    position: relative;
  }
  .user-data:hover .dropdown-menu {
    
    display: block;
  }
  .dropdown-menu ul {
   
    text-align: left;
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu ul li {
    display: flex;
    padding-left: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-menu ul li img{
    position:absolute;
    right: 5px;
   width: 20px;
  }
  
  .dropdown-menu ul li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  