.dash-nav{
    content: left;
    display: inline-block;
    background-color: #ffcc00;
    /* background-color: #9999; */
    width: 80px;
    font-size: 1.2em;
}
/* .dash-nav__container{
    width: 13em;
} */
.dash-nav__link{
   margin: 20px 15px 20px 12px;
    display: flex;
    color: whitesmoke;
    text-decoration: none;
    position: relative;
    width: 160px;
}

.dash-nav__link:hover {
    color: #ffcc00;
}
.dash-nav__element{
    padding: 0;
    margin: 0;
    display: inline;
}
.dash-nav__element img{
    width: 46px;
    padding: 5px ;
}
img:hover{
    /* background-color: #f9f9f9; */
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: flex;
  }
.dropdown-content {
    color: #f9f9f9;
    display: none;
    position:relative;
    background-color: #ffcc00;
    min-width: 135px;
    max-height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 1.5em;
    /* margin: 10px 20px; */
    font-size: 24px;
    margin: 0px 0px 0px 20px;
    z-index: 1;
  }
  :link{
    cursor: default;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    cursor: pointer;
  }

  .button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .imglink.active {
    padding: 5px ;
    border-radius: 4px;
    background-color: #FFB900;
  }