.dash-footer{
    background-color: #0D3B66;
    text-align: right;
    font-size: 1.2em;
    padding: 20px 10px;
    color: #c2c2c5;
    display: flex;

}
.dash-footer .title{
    right: 0px;
    margin: 0px 20px;
}