body {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-eidt {
    margin: 10px;
}

.form__label {
    width: 510px;
    margin: 10px;

}

.form .label-form {
    margin: 10px 0px;
    width: 510px;
    font-size: 1.2rem;
}

.form_user {
    background-color: #999;
    border-radius: 6px;
    padding: 20px;

    width: 50%;
    margin: 30px auto;
    color: whitesmoke;
}

.form {
    background-color: #B2BDC8;
    border-radius: 6px;
    width: 515px;
    margin: 30px auto;
    color: whitesmoke;
    padding: 20px 40px;
}

.form__Title-row {
    text-align: center;
    font-size: 1.8rem;
}

.form__label {
    font-size: 1.2rem;
    margin: 7px;
}

.form__input {
    width: 480px;
    border: none;
    display: inline-block;
    font-size: 1.1rem;
    margin: 4px 2px;
    padding: 7px 15px;
    border-radius: 3px;
    /* width: 94%; */
    cursor: text;
}

label {
    color: black;
    margin: 10px 0px;
}

.save-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 11px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
}

.save-button {
    border-radius: 3px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    font-size: 1.1rem;
    width: 510px;
}

.save-button:hover {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: red;
    border: none;
    color: white;
    padding: 11px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
}

.delete-button {
    border-radius: 3px;
    background-color: white;
    color: black;
    border: 2px solid red;
    font-size: 1.1rem;
    width: 510px;
}

.delete-button:hover {
    background-color: red;
    color: white;
}


.area-field .area-field-Hover {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.area-field:hover .area-field-Hover {
    visibility: visible;
}

.checkbox-wrapper-2{
    margin: 0px 5px;
}
.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: #535db3;
}


input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(#535db3);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: #535db3;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #535db3;
    border-radius: 50%;
    transform: translateY(-0.075em);
    margin: 3px 6px 0px 0px;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(#535db3);
    /* Windows High Contrast Mode */
    background-color: #535db3;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid #535db3;
    outline-offset: max(2px, 0.15em);
}

.checkbox-redio {
    margin: 0px 5px;
    display: flex;
}

.checkbox-redio .form-control {
    display: flex;
    width: 120px;
}