body {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.LogMonitor-display__graph{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* margin: 0px 30px; */
    flex-direction: row;
    font-size: 24px;
}

.chart-content{
    display: flex;
    padding: 20px;
}

.chart-title{
    font-size: 32px;
    display: flex;
    margin: 30px 20px 0px 20px;
}
.chart-name{
 width: 270px;
 /* background-color: red; */
}
.graph-content{
    background-color: #2D2F36;
    color: whitesmoke;
    padding: 20px;
    border-radius: 3px;
    font-size: 1.5em;
    margin: 20px;
    width: 40%;
}
.graph-title{
    margin-left: 10px;
}
.graph-item{
    border-radius: 3px;
    background-color: aliceblue;
    margin: 27px;
}
@media print {
    @page { size: landscape; }
}

@media print {
    @page {
      size: 280mm 340mm;
    }
}
.print-button button{
    background-color: #0D3B66;
    width: 70px;
    
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.-Statistic{
    width: 300px;
    margin: 20px;
}
.chart{
    display: flex;
    margin: 40px auto;
    width: 80%;
}
.buttons{
    display:inline-block;
    margin-top: 95px;
}
button{
    font-size: 1rem;
    border: none;
    margin: 10px;
    padding: 10px;
    width: 70px;
cursor: pointer;
border-radius: 5px;
}
.buttons button:hover{
    background-color: #2D2F36;
    color: aliceblue;
}
.method-chart{
    display: flex;
    margin-left: 620px;
}
.method-chart button:hover{
    background-color: #2D2F36;
    color: aliceblue;
}
button.active {
    background-color: #2D2F36;
    color: aliceblue;
}
  
  
