body {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.LogMonitor-display__content{
  /* display: flex; */
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 24px;
}
.LogMonitor-display__content label{
    color: black;
}
.Monitor-display__graph{
  width: 100%;
  display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.LogMonitor-display__item1{
    text-align: right;
    padding: 30px;
    margin: 20px;
    /* width: 100%; */
    height: 180px;
    background-color: #F6E7AC;
    color: black;
    border-radius: 14px;
    /* display: flex; */
    transition: 1s;
}
.LogMonitor-display__item1-under{
  display: flex;
}
.LogMonitor-display__item2-under{
  display: flex;
}
.LogMonitor-display__item1-under .LogMonitor-display__item1-sub{
  text-align: center;
    padding: 30px;
    margin: 20px;
    width: 100%;
    background-color: #F6E7AC;
    color: black;
    border-radius: 14px;
    display: flex;
    transition: 1s;
}
.item-img img{
    width: 84px;
    cursor: default;
}
.item-img{
    width: 30%;
}
.item-content{
  /* margin: 20px 0px; */
    width: 100%;
}
/* .LogMonitor-display__item1-sub:hover{
    box-shadow: 20px 20px 50px grey;
} */
.LogMonitor-display__item2{
  text-align: right;
  padding: 30px;
  margin: 20px;
  /* width: 100%; */
  height: 180px;
  background-color: #CACFD2;
  color: black;
  border-radius: 14px;
  /* display: flex; */
  transition: 1s;
}
.LogMonitor-display__item2-under .LogMonitor-display__item2-sub{
  text-align: center;
    padding: 30px;
    margin: 20px;
    width: 100%;
    background-color: #CACFD2;
    color: black;
    border-radius: 14px;
    display: flex;
    transition: 1s;
}
.countSections{
  text-align: center;
    padding: 30px;
    margin: 20px;
    width: 100%;
    background-color: #F4F4EF;
    border: solid 1px gainsboro;
    color: black;
    border-radius: 3px;
    transition: 1s;
   
}
.countSections .title-content-Section{
  text-align: left;
}
.countSections .item-content{
  width: 100%;
}
.LogMonitor-display__item1 .item-content label{
  margin: 0px 0px 0px 0px;
  width: 100%;
  text-align: right;
}
.LogMonitor-display__item2 .item-content label{
  margin: 0px 0px 0px 0px;
  width: 100%;
  text-align: right;
}

.item-content .data{
  font-size: 42px;
}
.countSections:hover{
  box-shadow: 20px 20px 50px grey;
}
/* .LogMonitor-display__item2-sub:hover{
    box-shadow: 20px 20px 50px grey;
} */
.LogMonitor-display__item label{
    color: beige;
}

.graph-item{
    margin-right: 20px;
}

/* /* h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  } */
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  .popupData .close{
    position: relative;
    left: 490px;
    background-color: #B3B6B7 ;
    border-radius: 10px;
  }

  .close-icon{
    width: 20px;
    right: 20px;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    /* color: #fff; */
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .popupData{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 520px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  
    /* padding: 30px; */
    margin: 15% 35%;
    background-color: #B3B6B7 ;
    border-radius: 10px;
}

td {
  margin: 0px;

}
tbody{
  height: 20px;
}


th, td {
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even){background-color: #f2f2f2} */

.icon-edit img{
  width: 100%;
}

.table-allcell button {
  background-color: transparent;
  border: none;
}

.item-content-filter{
  margin-top: 20px;
  font-size: 64px;
}
.countSections{
  cursor: pointer;
}
.content-sensor{
  display: flex;
}


.sensor{
  height: 580px;
  background-color: #F4F4EF;
  border: solid 1px gainsboro;
  display: inline-block;
  margin: 10px 20px 0px 20px;
  width: 50%;
  border-radius: 3px;
}
.title{
  display: flex;
  width: 100%;
}
.sensor .sensor_Titile{
  font-size: 26px;
  margin: 20px 20px 0px 20px;
}
.sensor .sensor_Titile-model{
  font-size: 26px;
  margin: 20px 20px auto auto;
}
/* .popupData button{
  margin-left: 430px;
} */
  /* .overlay{
    width: 480px;
    background-color: #F0F4CD;
  } */

  /* .popupdata{
    background-color: #F0F4CD;
    width: 480px;
  } */
  /* .button:hover {
    background: #06D85F;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popupdata {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popupdata h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popupdata .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popupdata .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  } */ 

  
 .multi-graph {
  width: 300px;
  height: 150px;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  margin:  10px auto;
}

.multi-graph:before {
  content: '';
  width: 300px;
  height: 150px;
  border: 50px solid rgba(0, 0, 0, .15);
  border-bottom: none;
  position: absolute;
  box-sizing: border-box;
  transform-origin: 50% 0%;
  border-radius: 300px 300px 0 0;
  left: 0;
  top: 0;
}

.graph {
  width: 300px;
  height: 150px;
  border: 50px solid var(--fill);
  border-top: none;
  position: absolute;
  transform-origin: 50% 0% 0;
  border-radius: 0 0 300px 300px;
  left: 0;
  top: 100%;
  z-index: 5;
  animation: 1s fillGraphAnimation ease-in;
  transform: rotate(calc(1deg * (var(--percentage) * 1.8)));
  box-sizing: border-box;
  cursor: pointer;
}

.graph:after {
  content: attr(data-name) ' ' counter(varible) '%';
  counter-reset: varible var(--percentage);
  background: var(--fill);
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
  height: 20px;
  padding: 3px 5px;
  top: 0px;
  position: absolute;
  left: 0;
  transform: rotate(calc(-1deg * var(--percentage) * 1.8)) translate(-30px, 0px);
  transition: 0.2s ease-in;
  transform-origin: 0 50% 0;
  opacity: 0;
}

.graph:hover {
  opacity: 0.8;
}

.graph:hover:after {
  opacity: 1;
  left: 30px;
}

@keyframes fillGraphAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}



.overlay .content{
display: block;
}