.NotiHeader-link{
    /* margin: 7%; */
    width: 80%;
    padding: 10px;
    background-color: #B2BDC8;
    color: #f9f9f9;
    
    text-decoration: none;
}
.NotiHeader-link:hover{
    background-color: #0D3B66;

}
.NotiHeader__element{
    
    margin: 0px;
    padding: 0px;
    display: flex;
}
.NotiHeader-link-content{
    width: 100%;
    display: flex;
}
.NotiHeader-link{
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
    
    font-size: 1.5rem;
    text-align: center;
}
.NotiHeader-link img{
    width: 40%;
    margin: 10px;
    width: 48px;
}
.NotiHeader-link-content .NotiHeader-link__title{
    padding: 10px 0px;
    width: 60%;
    margin: 10px;
}
.NotiHeader-link-content.active {
    border-radius: 4px;
    background-color: #0D3B66;
  }