body {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pagination-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .content-pg {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .btn-pg-li {
    margin: 0 5px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #0D3B66;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#0D3B66;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:focus {
    outline: none;
  }
  
  /* Styling for pagination numbers */
  /* .pagination-page li {
    margin: 0 2px;
    padding: 6px 10px;
    font-size: 14px;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  .pagination-page li.active {
    background-color: #0D3B66;
    color: #fff;
  }
  
  /* .pagination-page li:hover {
    background-color: #ddd;
  } */
  

  .custom-select {
    position: relative;
    padding-top: 8px;
    width: 220px;
    font-size: 1.15rem;
    color: #000;
  }
  
  .select-button {
    width: 100%;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .selected-value {
    text-align: left;
  }
  
  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
  }
  
  .select-dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
  }
  
  .select-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
  }
  
  .select-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .select-dropdown li label {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .select-dropdown::-webkit-scrollbar {
    width: 7px;
  }
  
  .select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  
  .select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  
  .select-dropdown li:hover,
  .select-dropdown input:checked ~ label {
    background-color: #f2f2f2;
  }
  
  .select-dropdown input:focus ~ label {
    background-color: #dfdfdf;
  }
  
  .select-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  
  .custom-select.active .arrow {
    transform: rotate(180deg);
  }
  
  .custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  

  .add-user-button{
    /* width: 180px; */
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
  color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .search-user{
    left: 0px;
    position: relative;
    font-size: 1.15rem;
    /* background-color: #fff; */
    padding: 0.675em 1em;
    /* border: 1px solid #caced1; */
    border-radius: 0.25rem;
    cursor: pointer;
  color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-user{
    margin: 15px auto 0px auto;
    display: flex;
    /* justify-content: center; */
    width: 80%;
  }
  .select-user{
    padding: 0.675em 1em;
  }
  .add-user{
    /* right: 0px; */
    margin-left: 51%;
    margin: 0px 0px 0px auto;
  }


  