body {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.popup{
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: whitesmoke;
   
}
.popup-inner img {
    width: 86px;
    margin: 10px 136px;
}
.popup-inner {
    /* position: relative; */
    padding: 32px;
    width: 100%;
    max-width: 360px;
   
    display: block;
    background-color: #0D3B66;
    border-radius: 3px;
    color: whitesmoke;
    transition: 1s;
    border-radius: 10px;
   
}
.popup-inner:hover{
    box-shadow: 20px 20px 50px grey;
    
}
.title-popup{
    text-align: center;
}
.popup-inner .close-btn{
    /* position: relative; */
    /* position: absolute; */
    margin: 20px 90px;
    width: 180px;
    padding: 21px 0px;
    text-align: center;
  
    transition: 0.5s;
    font-size: 1.2rem;
}
.popup-inner .close-btn:hover{
    background-color: black;
}
/* .title{
    background-color: blueviolet;
} */
.close-btn{
    width: 100%;
    background-color: grey;
    color: white;
    border-radius: 3px;
    border: none;
}