table{
    border-collapse: collapse;
    margin: 40px auto;
    width: 80%;
    border-radius: 3px;
}
.table__thead{
    text-align: left;
    color: whitesmoke;
    background: #0D3B66;
}
td {
    margin: 0px;

}
tbody{
    height: 20px;
}
.table-allcell{
    padding: 0px;
    margin: 0px;
}

th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

.icon-edit img{
    width: 100%;
}
button {
    width: 28px;
    padding: 0px;
    margin: 0px;
}
img{
    width: 180px;
}
.table-button{
    width: 320px;
    margin: 20px auto;
}
.table-button button{
    
    background-color: #2D2F36;
    border: none;
    color: white;
    padding: 11px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    width: 48.5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
}

.table-allcell button {
    background-color: transparent;
    border: none;
}
/* .table-allcell button:hover{
    background-color: #2D2F36;
    color: aliceblue;
} */



:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}


/* body {background: var(--color-dark); display: flex; align-items: center; justify-content: center; min-height: 100vh } */
/* html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; } */

.search{
    margin: 40px auto;
    width: 80%;
}
.search form {
   
  position: relative;
  width: 260px;
  
  border-radius: var(--rad);
  margin: 0px 0px 0px auto;
}
.search input, button {
    padding: 10px 8px;
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.2rem;
}
.search .filter {
    padding: 10px;
   
}
.search .filter button{
    padding: 10px;
    width: 220px;
    font-size: 1.2rem;
}

.search label {
    
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.red-text {
    color: red;
  }
  
.data-section{
    margin: 0px 100px;
    display: flex;
}

.table-section{
    width: 50%;
    margin: 10px;
}
.ChartSection{
    width: 50%;
    
}
.sound {
    width: 420px;
    margin: 0px 41%;
}
.update {
    width: 420px;
    margin: 0px 9%;
}
.update button{
    width: 94px;
}